<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-6">
          <button
            type="submit"
            class="mx-3"
            (click)="saveChat()"
            class="btn btn-primary"
          >
            Save
          </button>
        </div>
        <div class="col-6">
          <button
            type="submit"
            class="mx-3"
            (click)="clear()"
            class="btn btn-primary"
          >
            Clear
          </button>
        </div>
        <div class="col-12">
          <label for="selectSavedChat" class="form-label">Saved Chat</label>
        </div>
        <div class="col">
          <select
            id="selectSavedChat"
            class="form-select"
            (change)="openModel($event.target.value)"
          >
            <option></option>
            <option
              *ngFor="let savedChat of savedChats()"
              [ngValue]="savedChat"
            >
              {{ savedChat }}
            </option>
          </select>
          {{ modelToOpen() }}
        </div>
        <div class="col-12">
          <label for="modelName" class="form-label">Model Name</label>
        </div>
        <div class="col">
          <select
            id="modelName"
            class="form-select"
            [ngModel]="model()"
            (change)="model.set($event.target.value)"

          ><!-- (change)="setModelName($event.target.value)" -->
            <option></option>
            <option *ngFor="let modelName of modelList" [value]="modelName">
              {{ modelName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="systemMessage" class="form-label"
            >Chat system message</label
          >
          <textarea
            rows="4"
            name="systemMessage"
            [ngModel]="systemMessage()"
            (ngModelChange)="systemMessage.set($event)"
            class="form-control"
            id="systemMessage"
            aria-describedby="systemMessagehelp"
          ></textarea>
          <div id="systemMessagehelp" class="form-text">
            System message to tell LLM how to behave during chat.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div
        #scroll
        class="row"
        style="
          max-height: calc(100vh - 200px) !important;
          overflow-y: auto;
        "
      >
        <ng-container *ngFor="let message of messages()">
          <div
            class="msg-container"
            [ngClass]="message.role === 'user' ? 'left' : 'right'"
          >
            <p class="msg">
              {{ message.content }}
            </p>
          </div>
        </ng-container>
      </div>

      <div class="row" style="position: fixed; bottom: 0; width: 70%; right: 10px">
        <div class="col">
          <div class="mb-3">
          <textarea
              rows="2"
              name="newChatMessage"
              [ngModel]="newChatMessage()"
              (ngModelChange)="newChatMessage.set($event)"
              class="form-control"
              id="baseUrl"
              aria-describedby="baseUrlhelp"
            ></textarea>
            <div id="baseUrlhelp" class="form-text">
              Say Something to the AI.
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" (click)="send()" class="btn btn-primary">
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
