<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div
        #scroll
        class="row"
        style="max-height: calc(100vh - 200px) !important; overflow-y: auto"
      >
        <ng-container *ngFor="let message of messages()">
          <div
            class="msg-container"
            [ngClass]="message.role === 'user' ? 'left' : 'right'"
          >
            <markdown class="msg">
              <button
                *ngIf="message.role !== 'user'"
                tooltip="Open in full screen markdown viewer"
                placement="left"
                type="button"
                class="btn mx-1 btn-secondary btn-small"
                (click)="openModal(template, message.content?.toString() || '')"
              ></button>
              {{ message.content }}
            </markdown>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row" style="position: fixed; bottom: 0; width: 100%; right: 10px">
    <div class="col-auto pe-0">
      <button
        type="submit"
        class="mx-3"
        (click)="openMaintenanceDialog(maintenanceDialog)"
        class="btn btn-primary"
      >
        <fa-icon [icon]="faToolbox"></fa-icon>
      </button>
    </div>

    <div class="col-auto">
      <label for="selectSavedChat" class="form-label">Saved Chats</label>
    </div>
    <div class="col-auto pe-0">
      <select
        id="selectSavedChat"
        class="form-select"
        [(ngModel)]="chatToOpen"
        (change)="openModel()"
      >
        <option></option>
        <option *ngFor="let savedChat of savedChats()" [value]="savedChat">
          {{ savedChat }}
        </option>
      </select>
    </div>
    <div class="col-auto pe-0">
      <button
        type="submit"
        class="mx-3"
        (click)="openSaveChat(saveDialog)"
        class="btn btn-primary"
      >
        Save
      </button>
    </div>
    <div class="col-auto pe-0">
      <button
        type="submit"
        class="mx-3"
        (click)="clear()"
        class="btn btn-primary"
      >
        Clear
      </button>
    </div>
    <div class="col pe-0">
      <div class="mb-3">
        <textarea
          rows="2"
          name="newChatMessage"
          [ngModel]="newChatMessage()"
          (ngModelChange)="newChatMessage.set($event)"
          class="form-control"
          id="newChatMessage"
          aria-describedby="newChatMessage"
        ></textarea>
        <div id="newChatMessage" class="form-text">Say Something to the AI.</div>
      </div>
    </div>
    <div class="col-auto ps-1">
      <button type="submit" (click)="send()" class="btn btn-primary">></button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Markdown</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <markdown>
      {{ markdownMessage }}
    </markdown>
  </div>
</ng-template>

<ng-template #saveDialog>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Chat</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="systemMessage" class="form-label">Chat System save name</label>
    <input
      type="text"
      name="saveChatName"
      [(ngModel)]="saveChatName"
      class="form-control"
      id="saveChatName"
      aria-describedby="saveChatNamehelp"
    />
    <div id="saveChatNamehelp" class="form-text">Name to save Chat session</div>
    <button
      type="button"
      class="btn btn-small btn-success-outline"
      (click)="saveChat() && modalRef?.hide()"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #maintenanceDialog>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Maintenance and Settings</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5">
          <ul class="list-group">
            <li *ngFor="let savedChat of savedChats()" class="list-group-item">
              {{ savedChat }}
            </li>
          </ul>
        </div>
        <div class="col-7">
          <label for="modelName" class="form-label">Model Name</label>
          <select id="modelName" class="form-select" [(ngModel)]="model">
            <option></option>
            <option *ngFor="let modelName of modelList" [ngValue]="modelName">
              {{ modelName }}
            </option>
          </select>

          <div class="mb-3">
            <label for="systemMessage" class="form-label"
              >Chat system message</label
            >
            <textarea
              rows="4"
              name="systemMessage"
              [ngModel]="systemMessage()"
              (ngModelChange)="systemMessage.set($event)"
              class="form-control"
              id="systemMessage"
              aria-describedby="systemMessagehelp"
            ></textarea>
            <div id="systemMessagehelp" class="form-text">
              System message to tell LLM how to behave during chat.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
